# name: Task Management Depoyment

# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Set up Node.js
#         uses: actions/setup-node@v3
#         with:
#           node-version: "23.3.0"

#       - name: Install dependencies
#         run: npm i

#       - name: Build the project
#         run: npm run build

#   deploy:
#     runs-on: ubuntu-latest
#     needs: build

#     steps:
#       - name: Install sshpass
#         run: sudo apt-get update && sudo apt-get install -y sshpass

#       - name: Deploy to VPS via SSH
#         env:
#           VPS_HOST: ${{ secrets.VPS_HOST }}
#           VPS_USER: ${{ secrets.VPS_USER }}
#           VPS_PASSWORD: ${{ secrets.VPS_PASSWORD }}
#         run: |
#           sshpass -p "$VPS_PASSWORD" ssh -o StrictHostKeyChecking=no $VPS_USER@$VPS_HOST << 'EOF'
#             cd task-management
#             git pull origin main
#             npm i
#             npm run build
#             cd ..
#             pm2 restart task-management
#           EOF